*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
.container {
  width: 1220px;
  margin: 0 auto;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* header */
header {
  background-color: #616e74;
}
.header-container {
  display: flex;
  gap: 10px;
  height: 80px;
}
.to-garage-button, .to-winners-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin: 20px 0;
  text-decoration: none;
  color: darkgray;
  cursor: pointer;

  transition: color .2s linear;
}
.to-garage-button:hover {
  color: whitesmoke;
}
.to-winners-button:hover {
  color: whitesmoke;
}
.to-garage-button.active {
  color: whitesmoke;
}
.to-winners-button.active {
  color: whitesmoke;
}

.winners-page, .garage-page {
  height: 120vh;
}
.winners-page {
  margin-top: -115vh;
}
.winners-page.hide {
  visibility: hidden;
}
.garage-page.hide {
  visibility: hidden;
}


/* controls */
.controls-buttons {
  display: flex;
  gap: 10px;
}
.button-race, .button-reset, .button-generate {
  padding: 5px 10px;
  cursor: pointer;
}
.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0 20px 0;
}
.create-form, .update-form {
  display: flex;
  gap: 10px;
}
.create-button, .update-button {
  padding: 5px 10px;
  cursor: pointer;
}

/* total */
.total-container, .total-container-win {
  display: flex;
  gap: 10px;
}
.total-container-win {
  margin-bottom: 20px;
}


/* garage */
circle, path {
  fill: brown;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}
.car-title {
  padding-left: 10px;
  height: 20px;
}
.car-container {
  position: relative;
  display: flex;
  align-items: end;
  width: 100%;
  border-bottom: 2px dotted black;
}
.car {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
}
.fire {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  right: 0;
  background-image: url("./components/images/fire.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: none;
}
.flag {
  position: absolute;
  right: 85px;
  bottom: 5px;
  width: 25px;
  height: 25px;
  background-image: url("./components/images/finish.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transition: all .4s ease;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1140px);
  }
}
/* .car {
  animation: move 5.93s linear forwards;
} */

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* .flag {
  animation: shake 0.5s 1;
} */
.car-buttons {
  display: flex;
  gap: 5px;
}
.small-button-race, .small-button-stop, .small-button-select, .small-button-remove {
 padding: 2px 5px;
  margin-top: 5px;
  cursor: pointer;
}


footer {
  background-color: #616e74;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  color: darkgray;
  height: 50px;
}



/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  z-index: 10;
  opacity: 0;
  pointer-events: none;

  transition: opacity .4s ease;
}
.modal.show {
  opacity: 1;
  pointer-events: auto;
}
.modal h4 {
  color: antiquewhite;
  font-size: 1.5rem;
  font-weight: 300;
}


/* winners */
table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 4px;
  font-size: .9rem;
}
th {
  width: 150px;
  height: 50px;
}
td {
  text-align: center;
  height: 50px;
}
.row-car-car svg {
  width: 40px;
  height: 40px;
}
.title-time, .title-wins {
  position: relative;
  cursor: pointer;
}

/* arrows */
.title-time:before {
  position: absolute;
  content: "";
  width: 7px;
  height: 2px;
  background-color: #616e74;
  top: 50%;
  right: 12px;

  transition: background-color .2s linear;
}
.title-time:after {
  position: absolute;
  content: "";
  width: 7px;
  height: 2px;
  background-color: #616e74;
  top: 50%;
  right: 16px;

  transition: background-color .2s linear;
}
.title-time:hover:before {
  background-color: black;
}
.title-time:hover:after {
  background-color: black;
}


.title-wins:before {
  position: absolute;
  content: "";
  width: 7px;
  height: 2px;
  background-color: #616e74;
  top: 50%;
  right: 12px;

  transition: background-color .2s linear;
}
.title-wins:after {
  position: absolute;
  content: "";
  width: 7px;
  height: 2px;
  background-color: #616e74;
  top: 50%;
  right: 16px;

  transition: background-color .2s linear;
}
.title-wins:hover:before {
  background-color: black;
}
.title-wins:hover:after {
  background-color: black;
}

/* pagination */
.prev, .next, .prev-win, .next-win {
  padding: 5px;
  margin: 20px 0;
  cursor: pointer;
}
.prev, .prev-win {
  margin-right: 10px;
}
button:disabled {
  cursor: default;
}

/* wins */
.title-wins.asc:after {
  transform: rotate(225deg);
}
.title-wins.asc:before {
  transform: rotate(-225deg);
}
.title-wins.desc:after {
  transform: rotate(-45deg);
}
.title-wins.desc:before {
  transform: rotate(45deg);
}

/* time */
.title-time.asc:after {
  transform: rotate(225deg);
}
.title-time.asc:before {
  transform: rotate(-225deg);
}
.title-time.desc:after {
  transform: rotate(-45deg);
}
.title-time.desc:before {
  transform: rotate(45deg);
}